<div class="container">
	<h1>Prueba técnica - Estudio Faser</h1>
	<h2>Listado de tareas</h2>	
  <div>
    <form #form="ngForm" (submit)="handleSubmit(form)">
      <div>
        <label for="titulo">Título:</label>
        <input type="text" [(ngModel)]="titulo" name="titulo" required>
      </div>
      <div>
        <label for="minutos">Minutos:</label>
        <input type="number" [(ngModel)]="minutos" name="minutos" required>
      </div>
      <button type="submit" [disabled]="form.invalid">Agregar</button>
    </form>
  </div>
  <hr>
  <div>
    <button (click)="randomSort()"> Orden Aleatorio </button>
    <button (click)="deleteSelected()" *ngIf="tareasElegidas.length>0"> Eliminar ({{tareasElegidas.length}})</button>
  </div>
    
  <table>
    <thead>
      <tr>
        <th>Elegir</th>
        <th>#</th>
        <th (click)="sorted(1)">Título</th>
        <th (click)="sorted(2)">Minutos</th>
        <th>Marcar</th>
      </tr>
    </thead>
    <tbody>
      <tr [ngClass]="{'important-item':tarea.important }" *ngFor="let tarea of tareas; index as i">
        <td><input type="checkbox" (click)="check($event, tarea)"></td>
        <td>{{i+1}}</td>
        <td>{{tarea.titulo}}</td>
        <td>{{tarea.minutos}} minutos</td>
        <td><button (click)="markItem(tarea)">Marcar</button></td>
      </tr>
    </tbody>
  </table>
</div>